 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sinatra App</h1>
        <p>Homework for Week 6, Day 3 was to build responsive views for a basic Sinatra app. I used the Bootstrap's <a href="http://getbootstrap.com/examples/jumbotron/" class="bootstrapTemplate">jumbotron template</a> and minimal custom css.</p>
        <p><a class="btn btn-primary btn-lg" href="http://getbootstrap.com/examples/jumbotron/" target="_blank" role="button">See Template &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row homeContent">
        <div class="col-sm-4">
          <h2>Temperature Converter</h2>
          <p>Convert temperatures from Celsius to Fahrenheit or from Fahrenheit to Celsius.</p>
          <p><a class="btn btn-default" href="/temp-converter" role="button">Get Converting &raquo;</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Word Reverser</h2>
          <p>Enter a word or phrase and the Word Reverser will print out the reverse letter order of your entry.</p>
          <p><a class="btn btn-default" href="/reverser" role="button">Get Reversing &raquo;</a></p>
       </div>
      </div>
    </div>

