 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron minitron">
      <div class="container">
        <h1>Reverse Words</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <form class="form-group" action="/word-reverser-result" method="get">
					  What phrase would you like to reverse?
					  <input class="form-control" type="text" name="phrase">
					  <input class="btn btn-default" type="submit" value="Submit">
					</form>
       </div>
      </div>

