
.jumbotron {
	background: url("http://lorempixel.com/1200/300/abstract/7");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 10px;
}

a {
	color: #fff;
}

.jumbotron h1 {
	padding-top: 30px;
}

.jumbotron .minitron h1 {
	font-size: 40px;
	padding-top: 30px;
}

.homeContent {
	margin: 20px;
}

.homeContent .col-md-6:nth-child(2) {
	margin-top: 40px;
	border-top: 1px dotted #1a1a1a;
	padding-top: 10px;
}

@media screen only and (min-width: 769px) {
	.jumbotron h1 {
		font-size: 48px;
	}
} 